.Card {
  width: 300px;
  min-height: 350px;
  box-sizing: border-box;
  background-color: $white;
  margin-bottom: 20px;

  img {
    width: 100%;
  }

  &-content {
    padding: 10px;

    &-header {
      display: grid;
      grid-template-columns: 50% 50%;

      &-right {
        display: flex;
        justify-content: flex-end;
        font-size: 24px;
        align-items: center;

        &-btn {
          font-size: 22px;
          background: $white;
          border: none;
          margin-right: 5px;
          cursor: pointer;

          &.isFavorite {
            color: #e67272;
            position: relative;

            &:hover {
              color: #f49b9b;

              &::before {
                content: "";
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid $black;
                position: absolute;
                border-right: 10px solid $black;
                position: absolute;
                right: -8px;
                font-size: 10px;
              }

              &::after {
                content: "Unfavorite";
                position: absolute;
                background: $black;
                color: $white;
                padding: 0 5px;
                margin-left: 15px;
                font-size: 10px;
                text-align: center;
                height: 20px;
                line-height: 18px;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
              }
            }
          }

          &.isLocation {
            color: $black;
          }
        }
      }
    }

    &-info {
      &-location {
        display: block;
        font-size: 12px;
        font-style: italic;
        padding: 5px 0;
      }

      &-time {
        display: block;
        font-size: 12px;
        padding: 5px 0;
      }

      &-more {
        font-size: 32px;
        text-align: center;
        color: #126662;
        background: none;
        border: none;
      }

      &-name {
        font-size: 17px;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 20px calc(100% - 20px);
        align-items: center;

        &-arrow {
          color: $black;
          text-align: center;
          font-size: 10px;
        }
      }

      &-description {
        font-size: 12px;
      }

      &-footer {
        display: grid;
        grid-template-columns: 80% 20%;
        align-items: center;
      }
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px #dedede;
  }
}
